<suite name="PlaywrightJava" parallel="tests" thread-count="2">
    <test name="PlaywrightTrident">
        <parameter name="deviceIndex" value="${deviceIndex}"/>
        <classes>
            <class name="test.LoginTest"/>
            <class name="test.DashboardTest"/>
        </classes>
    </test>
</suite>