<suite name="PlaywrightJava" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="listners.Listeners"/>
    </listeners>
    <test name="PlaywrightTrident">
        <parameter name="deviceIndex" value="${deviceIndex}"/>
        <classes>
            <class name="test.DashboardTest"/>
        </classes>
    </test>
</suite>